.Person {
  width: 80%;
  height: auto;
  margin: 10px auto;
  padding: 10px;
  border: 1px black solid;
  border-radius: 5px;
  box-shadow: 0 2px 3px #ccc;
}

@media (min-width: 500px) {
  .Person {
    width: 400px;
  }
}

@media (maxWidth: 500px) {
  .input-style {
    width: 100%;
    box-sizing: 'border-box';
  }
}