.FullPost {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.Edit {

}

.Edit label {
    display: block;
    color: grey;
}

.Edit button {
    margin: 5px;
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: medium;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: #fa923f;
}

.Edit button:hover,
.Edit button:active {
    color: #521751;
}

.Edit button.Delete {
    color: red;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
    color: darkred;
}

.Edit a.active {
    margin: 5px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: #1fa12a;
}

.Edit a:hover {
    color: darkgreen;
}